STORAGE_BACKEND=firebase
QUEUE_BACKEND=firestore
FIREBASE_STORAGE_BUCKET=the-brain-benchmark-project.firebasestorage.app
GOOGLE_APPLICATION_CREDENTIALS=./backend/service-account-key.json
GCP_PROJECT=the-brain-benchmark-project
GCP_WORKER_JOB_LOCATION=us-central1
GCP_WORKER_JOB_NAME=mri-worker
FREESURFER_LICENSE=./license.txt
FASTSURFER_OUTPUT_DIR=./processed_data/web_jobs
