STORAGE_BACKEND=firebase
QUEUE_BACKEND=cloudtasks
FIREBASE_STORAGE_BUCKET=brainbenchmark-mri.firebasestorage.app
GOOGLE_APPLICATION_CREDENTIALS=./backend/service-account-key.json
GCP_PROJECT=brainbenchmark-mri
GCP_QUEUE_LOCATION=us-central1
GCP_QUEUE_NAME=mri-jobs
GCP_WORKER_URL=https://mri-worker-<HASH>-uc.a.run.app
GCP_API_SA_EMAIL=mri-api-sa@brainbenchmark-mri.iam.gserviceaccount.com
FREESURFER_LICENSE=./license.txt
FASTSURFER_OUTPUT_DIR=./processed_data/web_jobs
